
/* CockpitLab Discourse Theme - Variables */

:root {
  --primary: #edb067;
  --primary-hover: #e09d4e;
  --text-color: #333333;
  --bg-light: #f8f8f8;
  --border-color: #dddddd;
  --footer-bg: #f2f2f2;
  --header-height: 60px;
}
