
.topic-list .topic-list-item td {
  padding: 12px 5px;
}

.topic-list .topic-list-item:hover {
  background-color: var(--bg-light);
}

.topic-list .topic-list-item.visited a.title:visited {
  color: var(--primary);
}

.badge-wrapper {
  margin-right: 5px;
}

.badge-wrapper.bullet .badge-category-bg {
  border-radius: 50%;
}

.topic-card .main-link {
  display: grid;
  grid-template-areas: "title title"
  "tags tags"
  "excerpt excerpt"
  "op op"
  "metadata metadata" !important;
  grid-template-rows: auto auto 1fr auto auto;
  flex-grow: 1;
  padding: 1rem 1.5rem 1rem 0 !important;
  box-sizing: border-box;
  box-shadow: none !important;
}

.badge-category__wrapper {
  background-color: var(--category-badge-color) !important;
  color: var(--category-badge-text-color) !important;
  border-radius: 1em;
  padding: 0.5em;
}

.badge-category__wrapper .badge-category::before {
  display: none;
}
