
body {
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.d-header {
  background-color: white;
  border-bottom: 3px solid var(--primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.d-header-icons .d-icon {
  color: var(--text-color);
}

.d-header-icons .d-icon:hover {
  color: var(--primary);
}

ol.category-breadcrumb, ul#navigation-bar {
  display: none;
}
